<template>
  <div id="app">
    <div class="calculator">
      <div class="result" style="grid-area: result">
        {{ equation }}
      </div>

      <button style="grid-area: ac"         @click="clear"           class="btn1">AC</button>
      <button style="grid-area: plus-minus" @click="calculPM"        class="btn1">+/-</button>
      <button style="grid-area: del"        @click="delone"          class="btn1">DEL</button>
      <button style="grid-area: add"        @click="append('+')"     class="btn2">+</button>
      <button style="grid-area: subtract"   @click="append('-')"     class="btn2">-</button>
      <button style="grid-area: multiply"   @click="append('×')"     class="btn2">×</button>
      <button style="grid-area: divide"     @click="append('÷')"     class="btn2">/</button>
      <button style="grid-area: equal"      @click="calculate"       class="btn2">=</button>

      <button style="grid-area: num1" @click="append(1)" class="btn3">1</button>
      <button style="grid-area: num2" @click="append(2)" class="btn3">2</button>
      <button style="grid-area: num3" @click="append(3)" class="btn3">3</button>
      <button style="grid-area: num4" @click="append(4)" class="btn3">4</button>
      <button style="grid-area: num5" @click="append(5)" class="btn3">5</button>
      <button style="grid-area: num6" @click="append(6)" class="btn3">6</button>
      <button style="grid-area: num7" @click="append(7)" class="btn3">7</button>
      <button style="grid-area: num8" @click="append(8)" class="btn3">8</button>
      <button style="grid-area: num9" @click="append(9)" class="btn3">9</button>
      <button style="grid-area: num0" @click="append(0)" class="btn3">0</button>

      <button style="grid-area: dot" @click="append('.')" class="btn3">.</button>
    </div>
  </div>
</template>

<script>
export default({
  el: '#app',
  name: 'App',
  data() {
    return {
      equation: '0',
      DecAdd: false,
      OperatorAdd: false,
      start: false,
    }
  },
  methods: {
    // input
    append(character) {
   
      if (this.equation === '0' && !this.Operator(character)) {
        if (character === '.') {
          this.equation += '' + character
          this.DecAdd = true
        } else {
          this.equation = '' + character
        }
        
        this.start = true
        return
      }
      
      // number in
      if (!this.Operator(character)) {
        if (character === '.' && this.DecAdd) {
          return
        }
        
        if (character === '.') {
          this.DecAdd = true
          this.OperatorAdd = true
        } else {
          this.OperatorAdd = false
        }
        
        this.equation += '' + character
      }
      
      // operator in
      if (this.Operator(character) && !this.OperatorAdd) {
        this.equation += '' + character
        this.DecAdd = false
        this.OperatorAdd = true
      }
    },
    // Operator check
    Operator(character) {
      return ['+', '-', '×', '÷'].indexOf(character) > -1
    },
    // =
    calculate() {
      let result = this.equation.replace(new RegExp('×', 'g'), '*').replace(new RegExp('÷', 'g'), '/')
      
      this.equation = parseFloat(eval(result).toFixed(9)).toString()
      this.DecAdd = false
      this.OperatorAdd = false
    },
    // ac
    clear() {
      this.equation = '0'
      this.DecAdd = false
      this.OperatorAdd = false
      this.start = false
    },
    // +/-
    calculPM() {
      if (this.OperatorAdd || !this.start) {
        return
      }
      
      this.equation = this.equation + '* -1'
      this.calculate()
    },
    // del
    delone() {
      this.equation = this.equation.substr(0,this.equation.length - 1)
      if(this.equation.length == 0){
        this.equation = '0'
      }
    }
  }
})
</script>

<style>
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  grid-template-columns: repeat(4, var(--button-width));
  grid-template-rows: repeat(6, var(--button-height));
  border: 1px solid black;
  background-color: black;
  padding: 24px;
  padding-top: 40px;
  border-radius: 20px;

  --button-width: 80px;
  --button-height: 80px;
  
  display: grid;
  grid-template-areas: 
    "result result result result"
    "ac plus-minus del divide"
    "num7 num8 num9 multiply"
    "num4 num5 num6 subtract"
    "num1 num2 num3 add"
    "num0 num0 dot equal";
  
}

.calculator button {
  margin: 8px;
  padding: 0;
  border: 0;
  display: block;
  outline: none;
  border-radius: 12px;
  font-size: 24px;
  font-family: Helvetica;
  font-weight: normal;
 }

.btn1{
  color: black;
  background-color: lightgray;
}
.btn2{
  color: white;
  background-color: orange;
}
.btn3{
  color: white;
  background-color: gray;
}

.calculator button:active {
  background-color: white;
}

.result {
  text-align: right;
  line-height: var(--button-height);
  font-size: 48px;
  font-family: Helvetica;
  padding: 0 20px;
  color: white;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
</style>
